
.logo-name {
    font-weight: lighter !important;
    color: white;
    text-shadow: 0px 0px 1px #333333;
}

.middle-box h1 {
    font-size: 5rem !important;
}


.logo-app {
    font-weight: lighter !important;
    color: white;
    text-shadow: 0px 0px 1px #333333;
}