.logo {
    width: 150px;
    height: auto;
}

.minlogo {
    width: 80px;
    height: auto;
    
}

.minlogobrand {
    width: 50px;
    height: auto;
}

.form-control {
    border: 1px solid #dddddd;
    border-radius: 6px;
}

.text-danger {
    color: rgba(250, 128, 114, 1) !important;
}

/* Otros */

.btn-white {
    border: 1px solid #999999 !important;
}