{{ flash.output() }}

<div class="animated fadeInDown">
    <div class="mt-5">
        <div class="text-center">
            <h1 class="font-bold logo-name">PQR:.CHICO:.</h1>
            <h3>Aplicación Phalcon</h3>
            <p>En Desarrollo</p>
        </div>
    </div>
</div>

