<div class="page-header">
    <h1>Create complaintsandclaims</h1>
</div>

<form method="post">
    <div>
        <div class="col-sm-10">
            {{ text_field("identificacion", "size" : 30, "class" : "form-control") }}
        </div>
    </div>
    </div>
</form>