<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid id, repudiandae in perferendis eaque totam
        distinctio quidem, expedita minima, provident officia neque a hic doloribus nemo voluptas voluptate dolores
        corrupti?
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque saepe, nam, libero provident totam optio
        numquam laudantium dignissimos architecto, repudiandae voluptatibus! Unde dicta eos ipsam facere magnam ad
        deleniti. Labore?
    </p>
</body>

</html>